# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: [ "*" ]

  pull_request:
    branches: [ "*" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy-folder-web_download:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: 'main'
          fetch-depth: 0

      - name: Build
        run: |
          pip install -r packager/requirements.txt
          python -m packager.packager --verbose=1 --glob='*.py' --glob='*.txt' app_a app_b
  
      - name: Setup Pages
        uses: actions/configure-pages@v3
        with:
          # Upload only web_download directory!
          path: 'web_downloads'

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: 'web_downloads'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
    